app/inc/about.html

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-7">
        <h2 class="about__title">NUESTROS UBICLEANERS</h2>
        <h4 class="about__subtitle">Ofrecemos a nuestros colaboradores:</h4>
        <ul class="about__list">
          <li>Ingreso a planilla con pagos puntuales.</li>
          <li>Entrenamiento y horarios flexibles.</li>
          <li>Buen ambiente de trabajo.</li>
          <li>Gana más por productividad.</li>
        </ul><a class="about__button" href="#">ÚNETE A UBICLEAN AQUÍ</a>
      </div>
    </div>
  </div>
</section>

app/views/inc/about.pug
section.about
    .container
        .row
            .col-md-5.col-md-offset-7
                h2.about__title NUESTROS UBICLEANERS
                h4.about__subtitle Ofrecemos a nuestros colaboradores:
                ul.about__list
                    li Ingreso a planilla con pagos puntuales.
                    li Entrenamiento y horarios flexibles.
                    li Buen ambiente de trabajo.
                    li Gana más por productividad.

                a.about__button(href="#") ÚNETE A UBICLEAN AQUÍ
