app/inc/banner-home.html

<div id="nuestro-servicio">
  <div class="banner-home">
    <div class="content-img"><img class="img-left" src="img/carros.jpg" alt=""/><img class="img-right" src="img/carrito-editado.png" alt=""/></div>
    <div class="content-banner">
      <p class="titulo">Damos un <strong>servicio privado</strong> para tu edificio o multifamiliar, un nuevo concepto en <strong>limpieza de autos.</strong></p>
      <div class="content-lista">
        <ul>
          <li>Llevamos una unidad de limpieza a tu estacionamiento.</li>
          <li>Contamos con personal capacitado, en planilla y asegurado.</li>
          <li>Usamos muy poca agua y contamos con fuente de energía propia.</li>
          <li>Tenemos cuidado especial de tu vehículo y cochera.</li>
        </ul>
      </div><a class="btn btn-primary button-solicita" href="#" role="button">SOLICITA UNA DEMO GRATIS</a><a class="btn-abajo" href=""><span class="icon-arrow-down-simple-line-icons"></span></a>
    </div>
  </div>
</div>

app/views/inc/banner-home.pug
#nuestro-servicio
    .banner-home
        .content-img
            img.img-left(src="img/carros.jpg", alt="")
            img.img-right(src="img/carrito-editado.png", alt="")
        .content-banner
            p.titulo Damos un <strong>servicio privado</strong> para tu edificio o multifamiliar, un nuevo concepto en <strong>limpieza de autos.</strong>
            .content-lista
                ul
                    li Llevamos una unidad de limpieza a tu estacionamiento.
                    li Contamos con personal capacitado, en planilla y asegurado.
                    li Usamos muy poca agua y contamos con fuente de energía propia.
                    li Tenemos cuidado especial de tu vehículo y cochera.

            a.btn.btn-primary.button-solicita(href='#', role='button') SOLICITA UNA DEMO GRATIS


            a.btn-abajo(href="")
                span.icon-arrow-down-simple-line-icons
