app/views/inc/pop-up.pug
<!-- Soy cliente -->
.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Soy-cliente")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

            .modal-body
                h2 Iniciar sesión

                .form-sesion.content-sesion
                    form
                        .form-group
                            input#exampleInput.form-control(type='nombre', placeholder='Correo electrónico')

                            span.icon-user

                        .form-group
                            input#exampleInputPassword1.form-control(type='correo', placeholder='Contraseña')

                            span.icon-message


                .btn-iniciar
                    a.btn.btn-primary.button-contact(href='#', role='button') INICIAR SESIÓN


<!-- Demo gratuito -->

.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Demo-gratuito")
    .modal-dialog.modal__contain(role="document")
        .modal-content
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;

            .modal-body
                h2 Si vives en un edificio multifamiliar podemos hacer una demo gratuita para ti y tus vecinos.

                .form-sesion.content-sesion
                    form
                        .form-group
                            input#exampleInput.form-control(type='nombre', placeholder='Correo electrónico')

                            span.icon-user

                        .form-group
                            input#exampleInputPassword1.form-control(type='correo', placeholder='Contraseña')

                            span.icon-message

                        .form-group
                            input#exampleInputPassword1.form-control(type='correo', placeholder='Teléfono')

                            span.icon-message

                        .form-group
                            .select-style
                                select.form-control
                                    option(value='volvo') Mi Rol
                                    option(value='saab') Saab
                                    option(value='mercedes') Mercedes
                                    option(value='audi') Audi


                .btn-iniciar
                    a.btn.btn-primary.button-contact(href='#', role='button') INICIAR SESIÓN

app/inc/pop-up.html
<!-- Soy cliente -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Soy-cliente">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h2>Iniciar sesión</h2>
        <div class="form-sesion content-sesion">
          <form>
            <div class="form-group">
              <input class="form-control" id="exampleInput" type="nombre" placeholder="Correo electrónico"/><span class="icon-user"></span>
            </div>
            <div class="form-group">
              <input class="form-control" id="exampleInputPassword1" type="correo" placeholder="Contraseña"/><span class="icon-message"></span>
            </div>
          </form>
        </div>
        <div class="btn-iniciar"><a class="btn btn-primary button-contact" href="#" role="button">INICIAR SESIÓN</a></div>
      </div>
    </div>
  </div>
</div><!-- Demo gratuito -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Demo-gratuito">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h2>Si vives en un edificio multifamiliar podemos hacer una demo gratuita para ti y tus vecinos.</h2>
        <div class="form-sesion content-sesion">
          <form>
            <div class="form-group">
              <input class="form-control" id="exampleInput" type="nombre" placeholder="Correo electrónico"/><span class="icon-user"></span>
            </div>
            <div class="form-group">
              <input class="form-control" id="exampleInputPassword1" type="correo" placeholder="Contraseña"/><span class="icon-message"></span>
            </div>
            <div class="form-group">
              <input class="form-control" id="exampleInputPassword1" type="correo" placeholder="Teléfono"/><span class="icon-message"></span>
            </div>
            <div class="form-group">
              <div class="select-style">
                <select class="form-control">
                  <option value="volvo">Mi Rol</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="btn-iniciar"><a class="btn btn-primary button-contact" href="#" role="button">INICIAR SESIÓN</a></div>
      </div>
    </div>
  </div>
</div>
