app/inc/slider-home.html

<div class="slider__home" id="proceso">
  <div class="owl-carousel owl-theme slider__home-carousel">
    <div class="item"><img src="img/bg/proceso1.jpg" alt=""/>
      <div class="gradient"></div>
    </div>
    <div class="item"><img src="img/bg/proceso2.jpg" alt=""/>
      <div class="gradient"></div>
    </div>
    <div class="item"><img src="img/bg/proceso1.jpg" alt=""/>
      <div class="gradient"></div>
    </div>
  </div>
  <div class="slider__home--content">
    <h2 class="titulo">¿Cómo es <strong>el proceso de limpieza</strong> Ubiclean?</h2>
    <div class="slider__eleccion">
      <div class="slider__eleccion--mineras slider__electo slider__eleccion--active b-style" data-index="0">
        <div class="slider__eleccion-box">
          <div class="slider__icon">
            <div class="icon icon-one"></div>
          </div>
          <div class="slider__content">
            <h3>Nos ubicamos en tu edificio</h3>
            <p>Coordinamos con el administrador de tu edificio para colocar nuestras unidades con nuestro personal a disposición en el estacionamiento.</p>
          </div>
        </div>
      </div>
      <div class="slider__eleccion--proveedores slider__electo b-style" data-index="1">
        <div class="slider__eleccion-box">
          <div class="slider__icon">
            <div class="icon icon-two"></div>
          </div>
          <div class="slider__content">
            <h3>Realizamos el servicio según lo indiques</h3>
            <p>Puedes programar tu servicio con nuestro personal, usamos agua limpia, champú especial y secado con toallas de microfibra.</p>
          </div>
        </div>
      </div>
      <div class="slider__eleccion--mineras slider__electo b-style" data-index="2">
        <div class="slider__eleccion-box">
          <div class="slider__icon">
            <div class="icon icon-three"></div>
          </div>
          <div class="slider__content">
            <h3>Pago en línea a fin de mes</h3>
            <p>Cada fin de mes recibirás un recibo electrónico con el detalle de todos los servicios prestados, te pagaré por internet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

app/views/inc/slider-home.pug
.slider__home#proceso
  .owl-carousel.owl-theme.slider__home-carousel
    .item
        img(src="img/bg/proceso1.jpg", alt="")
        .gradient
    .item
        img(src="img/bg/proceso2.jpg", alt="")
        .gradient
    .item
        img(src="img/bg/proceso1.jpg", alt="")
        .gradient

  .slider__home--content
    h2.titulo ¿Cómo es <strong>el proceso de limpieza</strong> Ubiclean?
    .slider__eleccion
      .slider__eleccion--mineras.slider__electo.slider__eleccion--active.b-style(data-index="0")
        .slider__eleccion-box
            .slider__icon
                .icon.icon-one
            .slider__content
                h3 Nos ubicamos en tu edificio
                p Coordinamos con el administrador de tu edificio para colocar nuestras unidades con nuestro personal a disposición en el estacionamiento.
      .slider__eleccion--proveedores.slider__electo.b-style(data-index="1")
        .slider__eleccion-box
            .slider__icon
                .icon.icon-two
            .slider__content
                h3 Realizamos el servicio según lo indiques
                p Puedes programar tu servicio con nuestro personal, usamos agua limpia, champú especial y secado con toallas de microfibra.

      .slider__eleccion--mineras.slider__electo.b-style(data-index="2")
        .slider__eleccion-box
            .slider__icon
                .icon.icon-three
            .slider__content
                h3 Pago en línea a fin de mes
                p Cada fin de mes recibirás un recibo electrónico con el detalle de todos los servicios prestados, te pagaré por internet.
