app/inc/tarifas.html

<div id="tarifas">
  <div class="b-container">
    <h2 class="titulo">Tarifario de servicios</h2>
    <h3>La unidad en tu edificio puede brindar <strong>estos servicios</strong>, con la <strong>frecuencia que necesites.</strong></h3>
    <div class="row-btn-categoria">
      <div class="btn-catgoria-wrap"><a class="btn-catgoria btn-catgoria--active" href="#" data-tarifa="autos">AUTOS</a><a class="btn-catgoria" href="#" data-tarifa="camionetas">CAMIONETAS</a></div>
      <div class="content-tarifas content-autos">
        <div class="box-tarifas">
          <div class="titulo-categoria">
            <div class="tipo">Básico</div>
            <div class="monto">S/.<span>15</span></div>
          </div>
          <ul>
            <li>Aplicación shampoo sin enjuague.</li>
            <li>Limpieza con paños de microfibra.</li>
            <li>Secado de vehículo.</li>
            <li>Silicona en llantas.</li>
            <li>Silicona en Vinilos.</li>
          </ul>
        </div>
        <div class="box-tarifas">
          <div class="titulo-categoria">
            <div class="tipo">Completo</div>
            <div class="monto">S/.<span>20</span></div>
          </div>
          <ul>
            <li class="check">Todo el Básico.</li>
            <li>Limpieza interior.</li>
            <li>Aspirado superficial.</li>
            <li>Limpieza de tapices.</li>
            <li>Silicona en tableros.</li>
          </ul>
        </div>
        <div class="box-tarifas">
          <div class="titulo-categoria">
            <div class="tipo">Profesional</div>
            <div class="monto">S/.<span>30</span></div>
          </div>
          <ul>
            <li class="check">Todo el Básico y Completo.</li>
            <li>Cera protectora.</li>
            <li>Cera Easy Shine SONAX.</li>
          </ul>
        </div>
      </div>
      <div class="content-tarifas content-camionetas" style="display:none;">
        <div class="box-tarifas">
          <div class="titulo-categoria">
            <div class="tipo">Básico</div>
            <div class="monto">S/.<span>20</span></div>
          </div>
          <ul>
            <li>Aplicación shampoo sin enjuague.</li>
            <li>Limpieza con paños de microfibra.</li>
            <li>Secado de vehículo.</li>
            <li>Silicona en llantas.</li>
            <li>Silicona en Vinilos.</li>
          </ul>
        </div>
        <div class="box-tarifas">
          <div class="titulo-categoria">
            <div class="tipo">Completo</div>
            <div class="monto">S/.<span>25</span></div>
          </div>
          <ul>
            <li class="check">Todo el Básico.</li>
            <li>Limpieza interior.</li>
            <li>Aspirado superficial.</li>
            <li>Limpieza de tapices.</li>
            <li>Silicona en tableros.</li>
          </ul>
        </div>
        <div class="box-tarifas">
          <div class="titulo-categoria">
            <div class="tipo">Profesional</div>
            <div class="monto">S/.<span>35</span></div>
          </div>
          <ul>
            <li class="check">Todo el Básico y Completo.</li>
            <li>Cera protectora.</li>
            <li>Cera Easy Shine SONAX.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

app/views/inc/tarifas.pug
#tarifas
    .b-container
        h2.titulo Tarifario de servicios
        h3 La unidad en tu edificio puede brindar <strong>estos servicios</strong>, con la <strong>frecuencia que necesites.</strong>

        .row-btn-categoria
            .btn-catgoria-wrap
                a.btn-catgoria.btn-catgoria--active(href='#', data-tarifa="autos") AUTOS
                a.btn-catgoria(href='#', data-tarifa="camionetas") CAMIONETAS

            .content-tarifas.content-autos
                .box-tarifas
                    .titulo-categoria
                        .tipo Básico
                        .monto S/.
                            span
                                | 15
                    ul
                        li Aplicación shampoo sin enjuague.
                        li Limpieza con paños de microfibra.
                        li Secado de vehículo.
                        li Silicona en llantas.
                        li Silicona en Vinilos.
                .box-tarifas
                    .titulo-categoria
                        .tipo Completo
                        .monto S/.
                            span
                                | 20
                    ul
                        li.check Todo el Básico.
                        li Limpieza interior.
                        li Aspirado superficial.
                        li Limpieza de tapices.
                        li Silicona en tableros.
                .box-tarifas
                    .titulo-categoria
                        .tipo Profesional
                        .monto S/.
                            span
                                | 30
                    ul
                        li.check Todo el Básico y Completo.
                        li Cera protectora.
                        li Cera Easy Shine SONAX.

            .content-tarifas.content-camionetas(style="display:none")
                .box-tarifas
                    .titulo-categoria
                        .tipo Básico
                        .monto S/.
                            span
                                | 20
                    ul
                        li Aplicación shampoo sin enjuague.
                        li Limpieza con paños de microfibra.
                        li Secado de vehículo.
                        li Silicona en llantas.
                        li Silicona en Vinilos.
                .box-tarifas
                    .titulo-categoria
                        .tipo Completo
                        .monto S/.
                            span
                                | 25
                    ul
                        li.check Todo el Básico.
                        li Limpieza interior.
                        li Aspirado superficial.
                        li Limpieza de tapices.
                        li Silicona en tableros.
                .box-tarifas
                    .titulo-categoria
                        .tipo Profesional
                        .monto S/.
                            span
                                | 35
                    ul
                        li.check Todo el Básico y Completo.
                        li Cera protectora.
                        li Cera Easy Shine SONAX.
