app/views/mi-panel.pug
extends layout


block content
    include inc/menu

    .mi-panel
        .content
            .servicios-del-mes
                h3.titulo ¡Hola Yuliana!
                p.infomacion son tus servicios del mes de Octubre.

                .row-servicios
                    .col-left-servicios
                        .tabla-servicios
                            .dato-tabla
                                .mes Octubre
                                .pendiente Pendiente de pago

                            .content-tabla
                                .box-categoria
                                    .categoria-servicio
                                        h4 servicios
                                    .categoria-fecha.d-none
                                        h4 Fecha
                                    .categoria-placa.d-none
                                        h4 Placa
                                    .categoria-ubi.d-none
                                        h4 Ubiclean

                                .row-categoria
                                    .categoria-servicio
                                        .icono-plan Servicio básico - Camioneta.
                                    .categoria-fecha
                                        p Fecha
                                    .categoria-placa
                                        p Placa
                                    .categoria-ubi
                                        p Ubiclean

                                .row-categoria
                                    .categoria-servicio
                                        .icono-plan Servicio básico - Camioneta.
                                    .categoria-fecha
                                        p Fecha
                                    .categoria-placa
                                        p Placa
                                    .categoria-ubi
                                        p Ubiclean

                                .row-categoria
                                    .categoria-servicio
                                        .icono-plan Servicio básico - Camioneta.
                                    .categoria-fecha
                                        p Fecha
                                    .categoria-placa
                                        p Placa
                                    .categoria-ubi
                                        p Ubiclean

                                .categoria-precio
                                    h4 Precio
                                    p S/.15.00
                                    p S/.15.00
                                    p S/.15.00

                                .clearfix

                                .total
                                    h4 Total
                                    p.monto S/.80.00


                    .col-right-servicios
                        .pago
                            a.btn.btn-primary.button-pago(href='#', role='button') PAGAR RECIBO

                            a.imprimir(href="") IMPRIMIR RECIBO

            hr.line

            .recibos
                h3.titulo Recibos anteriores

                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text-blue PENDIENTE DE PAGO

                    .box-detalle
                        a.detalles(href="#") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

                .content-ver-detalles

                    .row-servicios
                        .col-left-servicios
                            .tabla-servicios
                                .dato-tabla
                                    .mes Octubre
                                    .pendiente Pendiente de pago

                                .content-tabla
                                    .box-categoria
                                        .categoria-servicio
                                            h4 servicios
                                        .categoria-fecha
                                            h4.titulo-none Fecha
                                        .categoria-placa
                                            h4.titulo-none Placa
                                        .categoria-ubi
                                            h4.titulo-none Ubiclean

                                    .row-categoria
                                        .categoria-servicio
                                            .icono-plan Servicio básico - Camioneta.
                                        .categoria-fecha
                                            p Fecha
                                        .categoria-placa
                                            p Placa
                                        .categoria-ubi
                                            p Ubiclean

                                    .row-categoria
                                        .categoria-servicio
                                            .icono-plan Servicio básico - Camioneta.
                                        .categoria-fecha
                                            p Fecha
                                        .categoria-placa
                                            p Placa
                                        .categoria-ubi
                                            p Ubiclean

                                    .row-categoria
                                        .categoria-servicio
                                            .icono-plan Servicio básico - Camioneta.
                                        .categoria-fecha
                                            p Fecha
                                        .categoria-placa
                                            p Placa
                                        .categoria-ubi
                                            p Ubiclean

                                    .categoria-precio
                                        h4 Precio
                                        p S/.15.00
                                        p S/.15.00
                                        p S/.15.00

                                    .clearfix

                                    .total
                                        h4 Total
                                        p.monto S/.80.00

                        .col-right-servicios
                            .pago
                                a.btn.btn-primary.button-pago(href='#', role='button') PAGAR RECIBO

                                a.imprimir(href="") IMPRIMIR RECIBO


                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text PAGO

                    .box-detalle
                        a(href="") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text PAGO

                    .box-detalle
                        a(href="") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

                .row-recibos
                    .box-mes
                        .icono-plan SETIEMBRE

                    .box-pendiente
                        .text PAGO

                    .box-detalle
                        a(href="") Ver detalle
                            span.glyphicon.glyphicon-chevron-right

    footer.pd-footer
        .contact
            .container
                h2.titulo Si tienes alguna consulta no dudes en contactarnos.
                .col-left-contact
                    .admin
                        h4 Bruno Aguilar Guerra
                        p Administrador
                    .telefono
                        .icon
                            span.icon-phone
                        .dato 923 423 755

                    .correo
                        .icon
                            span.icon-message
                        .dato bruno.aguilar@ubiclean.pe

                .col-right-contact
                    .form-sesion
                        form
                            .form-group
                                input#exampleInputPassword1.form-control(type='correo', placeholder='Correo electrónico')

                                span.icon-message

                            .form-group
                                textarea#comment.form-control.pd-textarea(rows='4', placeholder='Mensaje...', )

                        a.btn.btn-primary.button-contact(href='#', role='button') ENVIAR

app/mi-panel.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ubiclean</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="lib/twentytwenty/css/twentytwenty.css">
    <link rel="stylesheet" href="css/style.css?v=1.9">
  </head>
  <body>
    <header>
      <div class="container-fluid">
        <nav class="navbar">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed menu-toogle" type="button" data-toggle="" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <div class="icon__content-bar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></div>
            </button><a class="navbar-brand" href="index.html"><span class="icon-logo-ubiclean"></span></a>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="true">
            <ul class="nav navbar-nav menu__main--ul">
              <li class="active menu__main--li"><a href="#nuestro-servicio">Nuestro servicio</a></li>
              <li class="menu__main--li"><a href="#proceso">Proceso</a></li>
              <li class="menu__main--li"><a href="#beneficios">Beneficios</a></li>
              <li class="menu__main--li"><a href="#tarifas">Tarifas</a></li>
              <li class="menu__main--li"><a href="#ubicleaners">Ubicleaners</a></li>
              <li class="menu__main--li"><a href="" data-toggle="modal" data-target="#Demo-gratuito" data-page="1">Contacto</a></li>
              <li><a class="item__perfil" href="#" data-toggle="modal" data-target="#Soy-cliente" data-page="1">Soy cliente</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="mi-panel">
      <div class="content">
        <div class="servicios-del-mes">
          <h3 class="titulo">¡Hola Yuliana!</h3>
          <p class="infomacion">son tus servicios del mes de Octubre.</p>
          <div class="row-servicios">
            <div class="col-left-servicios">
              <div class="tabla-servicios">
                <div class="dato-tabla">
                  <div class="mes">Octubre</div>
                  <div class="pendiente">Pendiente de pago</div>
                </div>
                <div class="content-tabla">
                  <div class="box-categoria">
                    <div class="categoria-servicio">
                      <h4>servicios</h4>
                    </div>
                    <div class="categoria-fecha d-none">
                      <h4>Fecha</h4>
                    </div>
                    <div class="categoria-placa d-none">
                      <h4>Placa</h4>
                    </div>
                    <div class="categoria-ubi d-none">
                      <h4>Ubiclean</h4>
                    </div>
                  </div>
                  <div class="row-categoria">
                    <div class="categoria-servicio">
                      <div class="icono-plan">Servicio básico - Camioneta.</div>
                    </div>
                    <div class="categoria-fecha">
                      <p>Fecha</p>
                    </div>
                    <div class="categoria-placa">
                      <p>Placa</p>
                    </div>
                    <div class="categoria-ubi">
                      <p>Ubiclean</p>
                    </div>
                  </div>
                  <div class="row-categoria">
                    <div class="categoria-servicio">
                      <div class="icono-plan">Servicio básico - Camioneta.</div>
                    </div>
                    <div class="categoria-fecha">
                      <p>Fecha</p>
                    </div>
                    <div class="categoria-placa">
                      <p>Placa</p>
                    </div>
                    <div class="categoria-ubi">
                      <p>Ubiclean</p>
                    </div>
                  </div>
                  <div class="row-categoria">
                    <div class="categoria-servicio">
                      <div class="icono-plan">Servicio básico - Camioneta.</div>
                    </div>
                    <div class="categoria-fecha">
                      <p>Fecha</p>
                    </div>
                    <div class="categoria-placa">
                      <p>Placa</p>
                    </div>
                    <div class="categoria-ubi">
                      <p>Ubiclean</p>
                    </div>
                  </div>
                  <div class="categoria-precio">
                    <h4>Precio</h4>
                    <p>S/.15.00</p>
                    <p>S/.15.00</p>
                    <p>S/.15.00</p>
                  </div>
                  <div class="clearfix"></div>
                  <div class="total">
                    <h4>Total</h4>
                    <p class="monto">S/.80.00</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-right-servicios">
              <div class="pago"><a class="btn btn-primary button-pago" href="#" role="button">PAGAR RECIBO</a><a class="imprimir" href="">IMPRIMIR RECIBO</a></div>
            </div>
          </div>
        </div>
        <hr class="line">
        <div class="recibos">
          <h3 class="titulo">Recibos anteriores</h3>
          <div class="row-recibos">
            <div class="box-mes">
              <div class="icono-plan">SETIEMBRE</div>
            </div>
            <div class="box-pendiente">
              <div class="text-blue">PENDIENTE DE PAGO</div>
            </div>
            <div class="box-detalle"><a class="detalles" href="#">Ver detalle<span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
          <div class="content-ver-detalles">
            <div class="row-servicios">
              <div class="col-left-servicios">
                <div class="tabla-servicios">
                  <div class="dato-tabla">
                    <div class="mes">Octubre</div>
                    <div class="pendiente">Pendiente de pago</div>
                  </div>
                  <div class="content-tabla">
                    <div class="box-categoria">
                      <div class="categoria-servicio">
                        <h4>servicios</h4>
                      </div>
                      <div class="categoria-fecha">
                        <h4 class="titulo-none">Fecha</h4>
                      </div>
                      <div class="categoria-placa">
                        <h4 class="titulo-none">Placa</h4>
                      </div>
                      <div class="categoria-ubi">
                        <h4 class="titulo-none">Ubiclean</h4>
                      </div>
                    </div>
                    <div class="row-categoria">
                      <div class="categoria-servicio">
                        <div class="icono-plan">Servicio básico - Camioneta.</div>
                      </div>
                      <div class="categoria-fecha">
                        <p>Fecha</p>
                      </div>
                      <div class="categoria-placa">
                        <p>Placa</p>
                      </div>
                      <div class="categoria-ubi">
                        <p>Ubiclean</p>
                      </div>
                    </div>
                    <div class="row-categoria">
                      <div class="categoria-servicio">
                        <div class="icono-plan">Servicio básico - Camioneta.</div>
                      </div>
                      <div class="categoria-fecha">
                        <p>Fecha</p>
                      </div>
                      <div class="categoria-placa">
                        <p>Placa</p>
                      </div>
                      <div class="categoria-ubi">
                        <p>Ubiclean</p>
                      </div>
                    </div>
                    <div class="row-categoria">
                      <div class="categoria-servicio">
                        <div class="icono-plan">Servicio básico - Camioneta.</div>
                      </div>
                      <div class="categoria-fecha">
                        <p>Fecha</p>
                      </div>
                      <div class="categoria-placa">
                        <p>Placa</p>
                      </div>
                      <div class="categoria-ubi">
                        <p>Ubiclean</p>
                      </div>
                    </div>
                    <div class="categoria-precio">
                      <h4>Precio</h4>
                      <p>S/.15.00</p>
                      <p>S/.15.00</p>
                      <p>S/.15.00</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="total">
                      <h4>Total</h4>
                      <p class="monto">S/.80.00</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-right-servicios">
                <div class="pago"><a class="btn btn-primary button-pago" href="#" role="button">PAGAR RECIBO</a><a class="imprimir" href="">IMPRIMIR RECIBO</a></div>
              </div>
            </div>
          </div>
          <div class="row-recibos">
            <div class="box-mes">
              <div class="icono-plan">SETIEMBRE</div>
            </div>
            <div class="box-pendiente">
              <div class="text">PAGO</div>
            </div>
            <div class="box-detalle"><a href="">Ver detalle<span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
          <div class="row-recibos">
            <div class="box-mes">
              <div class="icono-plan">SETIEMBRE</div>
            </div>
            <div class="box-pendiente">
              <div class="text">PAGO</div>
            </div>
            <div class="box-detalle"><a href="">Ver detalle<span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
          <div class="row-recibos">
            <div class="box-mes">
              <div class="icono-plan">SETIEMBRE</div>
            </div>
            <div class="box-pendiente">
              <div class="text">PAGO</div>
            </div>
            <div class="box-detalle"><a href="">Ver detalle<span class="glyphicon glyphicon-chevron-right"></span></a></div>
          </div>
        </div>
      </div>
    </div>
    <footer class="pd-footer">
      <div class="contact">
        <div class="container">
          <h2 class="titulo">Si tienes alguna consulta no dudes en contactarnos.</h2>
          <div class="col-left-contact">
            <div class="admin">
              <h4>Bruno Aguilar Guerra</h4>
              <p>Administrador</p>
            </div>
            <div class="telefono">
              <div class="icon"><span class="icon-phone"></span></div>
              <div class="dato">923 423 755</div>
            </div>
            <div class="correo">
              <div class="icon"><span class="icon-message"></span></div>
              <div class="dato">bruno.aguilar@ubiclean.pe</div>
            </div>
          </div>
          <div class="col-right-contact">
            <div class="form-sesion">
              <form>
                <div class="form-group">
                  <input class="form-control" id="exampleInputPassword1" type="correo" placeholder="Correo electrónico"><span class="icon-message"></span>
                </div>
                <div class="form-group">
                  <textarea class="form-control pd-textarea" id="comment" rows="4" placeholder="Mensaje..."></textarea>
                </div>
              </form><a class="btn btn-primary button-contact" href="#" role="button">ENVIAR</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="lib/twentytwenty/js/jquery.event.move.js"></script>
    <script src="lib/twentytwenty/js/jquery.twentytwenty.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
